<p>material works!</p>

<p>
    <span matBadge="4" matBadgeOverlap="false"matBadgeDisabled="true" >Text with a badge</span>
</p>
    
<p>
    Button with a badge on the left
    <button mat-raised-button color="warn"
        matBadge="8" matBadgePosition="before" matBadgeColor="accent">
        Action
    </button>
</p>
    
<p>
    Icon with a badge
    <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
        Include text description of the icon's meaning for screen-readers
    <span class="cdk-visually-hidden">
        Example with a home icon with overlaid badge showing the number 15
    </span>
</p>
    
<button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="afterMenu">After</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
  