


<h1>you've reached the Router App</h1>
 <ul>

  <!-- <li><a routerLink='chocolate'>Chocolate</a></li>
  <li><a routerLink='ice-cream'>Ice Cream</a></li>
  <li><a routerLink='data-title'>Data Title</a></li>
  <li style="display:inline"><a [routerLink]="['json-user',user]">JSON User</a></li>&nbsp;
  
    <select name="user" [(ngModel)]="user">
      <option  [ngValue]='1'>1</option>
      <option  [ngValue]='2'>2</option>
      <option  [ngValue]='3'>3</option>
      <option  [ngValue]='4'>4</option>
      <option  [ngValue]='5'>5</option>
      <option  [ngValue]='6'>6</option>
      <option  [ngValue]='7'>7</option>
      <option  [ngValue]='8'>8</option>
      <option  [ngValue]='9'>9</option>

    </select>
  <li><a routerLink='americans'>Americans</a></li>  -->
  <li><a routerLink='routes'>Routes</a></li>
  <li><a routerLink='forms-nav'>Forms</a></li>
  <li><a routerLink='pipes'>Pipes</a></li>
  <li><a routerLink='directives'>Directives</a></li>

  <!-- <li><a routerLink='forms'>Reactive Forms</a></li>
  <li><a routerLink='formgroup'>Reactive Form Group</a></li> -->

</ul>

<router-outlet></router-outlet>